div{
  background-color: #55BDCA;
}
body{
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
}

.Middle_container{
    width: 200px;
    height:200px;
}
.lower_container{
    width: 200px;
    height:200px;
}
#lower_container{
  background-color: #4a3933;
}
